<h3><i class="glyphicon glyphicon-briefcase"></i> Меню </h3>
<hr>
<ul class="nav nav-stacked">
    <li><a href="javascript:;"><i class="glyphicon glyphicon-flash"></i> Операторы</a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-link"></i> Агенты</a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-list-alt"></i> Проекты</a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-book"></i> Мероприятия</a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-briefcase"></i> Сообщения</a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-time"></i> Настройка</a></li>
</ul>
<hr>